@model IEnumerable<CinemaTicketsDomain.DomainModels.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (User.IsInRole("Admin")) {
    <p>
        <a asp-action="Create" class="btn btn-primary px-2">Create New</a>
    </p>
}

<div class="d-flex justify-content-center" style="gap: 2rem; height: 30rem;">

    @foreach (var item in Model) {
        <div class="card" style="width: 30%">
            <img src="@item.Image" class="card-img-top" alt="Movie Image">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                <p class="card-text">
                    <strong>Genre:</strong> @item.Genre
                </p>
                <p class="card-text">
                    <strong>Duration:</strong> @item.Duration minutes
                </p>
                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-secondary">Details</a>
                @if (User.IsInRole("Admin")) {
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                }
            </div>
        </div>
    }
</div>